* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

h3 {
    text-transform: uppercase;
    letter-spacing: 2px;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    background: #e3e3e3;
    min-height: 100vh;
}

.card {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 350px;
    width: 300px;
    flex-direction: column;
    gap: 35px;
    border-radius: 15px;
    background: #e3e3e3;
    box-shadow: 16px 16px 32px #c8c8c8,
        -16px -16px 32px #fefefe;
}

.input_box {
    position: relative;
    width: 250px;
}

.input_box input {
    width: 100%;
    padding: 10px;
    outline: none;
    border: none;
    color: #000;
    font-size: 0.8em;
    background: transparent;
    border-left: 2px solid #000;
    border-bottom: 2px solid #000;
    transition: 0.1s;
}

.input_box span {
    margin-top: 5px;
    position: absolute;
    left: 0;
    transform: translateY(-4px);
    margin-left: 10px;
    padding: 10px;
    pointer-events: none;
    font-size: 12px;
    color: #000;
    text-transform: uppercase;
    transition: 0.5s;
    letter-spacing: 3px;
}

.input_box input:valid~span,
.input_box input:focus~span {
    transform: translateX(115px) translateY(-21px);
    font-size: 0.8em;
    padding: 5px 10px;
    background: #000;
    letter-spacing: 0.2em;
    color: #fff;
    border: 2px;
}

.input_box input:valid,
.input_box input:focus {
    border: 2px solid #000;
}

.signup-and-login-btn {
    height: 45px;
    width: 100px;
    border-radius: 5px;
    border: 2px solid #000;
    cursor: pointer;
    background-color: transparent;
    transition: 0.5s;
    text-transform: uppercase;
    font-size: 10px;
    letter-spacing: 2px;
}

.signup-and-login-btn:hover {
    background-color: #000;
    color: white;
}

.reset-password{
    height: 45px;
    width: 100px;
    border-radius: 5px;
    border: 2px solid #000;
    cursor: pointer;
    background-color: transparent;
    transition: 0.5s;
    text-transform: uppercase;
    font-size: 10px;
    letter-spacing: 2px;
}

.reset-password:hover {
    background-color: #000;
    color: white;
}

.reset-p{
    font-size: 10px;
}

.login {
    margin-left: 1150px;
}